body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("fotologo.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: #c80d0d;
}

.pantalla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.frase {
  font-size: 2rem;
  margin-bottom: 80px;
  color: #bd164d;
  text-shadow: 0 0 3px #da55b2;
  padding: 20px;
}

.icono-sobre {
  position: relative;
  width: 220px;
  height: 150px;
  cursor: pointer;
  animation: latido 1.5s infinite;
}

.sobre-cuerpo {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f8c8dc, #f1088c);
  border: 3px solid #f47fbb;
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(14, 13, 13, 0.8);
}

.sobre-tapa {
  position: absolute;
  top: -75px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  border-bottom: 75px solid #ed68ca;
  transform-origin: top center;
}

@keyframes abrirSobre {
  from { transform: rotateX(0deg); }
  to { transform: rotateX(-120deg); }
}

.sobre-tapa.abierta {
  animation: abrirSobre 1s forwards;
}

@keyframes latido {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}

.oculto {
  display: none;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: clamp(3rem, 6vw, 4.5rem);
  color: #d87093;
  text-shadow: 0 0 15px #fff;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  color: #d87093;
  text-shadow: 0 0 15px #fff;
}

p {
  font-family: "Great Vibes", cursive;
  font-size: clamp(1.5rem, 3.5vw, 2.2rem);
  line-height: 1.5;
  color: #b54d72;
}

#invitacion {
  width: 100%;
  min-height: 100vh;
}

.slide {
  display: none;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  animation: fade 1.5s ease;
  padding: 20px;
  box-sizing: border-box;
}

.slide.active {
  display: flex;
}

.marco {
  width: 95%;
  max-width: 800px;
  min-height: 75vh;
  padding: 40px;
  border: 6px solid #f3b4d0;
  border-radius: 30px;
  background: rgba(255,255,255,.94);
  box-shadow: 0 0 30px rgba(245,182,193,.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.marco::before {
  content: "❀ ❁ ❀";
  position: absolute;
  top: 10px;
  color: #e38ab5;
  font-size: 2rem;
}

.marco::after {
  content: "❀ ❁ ❀";
  position: absolute;
  bottom: 10px;
  color: #e38ab5;
  font-size: 2rem;
}

.foto {
  width: 380px;
  max-width: 90%;
  border-radius: 25px;
  box-shadow: 0 0 25px rgb(255,134,205);
}

.marco a,
button {
  background: linear-gradient(135deg,#ff7eb3,#d87093);
  border: none;
  padding: 16px 30px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .3s;
  margin-top: 15px;
}

button:hover,
.marco a:hover {
  transform: scale(1.08);
}

strong {
  color: #c45a84;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width:768px){

  .marco{
    width:92%;
    padding:25px;
  }

  .foto{
    width:280px;
  }

  p{
    font-size:1.15rem;
  }

  h1{
    font-size:2.4rem;
  }

  h2{
    font-size:2rem;
  }

}
